<div class="col-12 p-0 justify-content-center surface-200">
    <div>
        <img src="../../../assets/terms-and-conditions/header.png" alt="" width="100%">
    </div>
    <div class="lg:col-10 col-11 m-auto">
        <div>
            <div class="mb-2">
                <span class="lg:text-xl md:text-3xl font-semibold">
                    Terms and Conditions:
                </span>
            </div>
            <div class="mb-2">
                <span class="lg:text-lg md:text-3xl font-medium">
                    Our commitment to safeguarding your data privacy
                </span>
            </div>
            <div classs="pt-3">
                <span>
                    Ensuring the privacy and security of your personal data is of utmost importance to Zepiex. We
                    understand the responsibility involved in protecting your data, and we have implemented stringent
                    measures to maintain its confidentiality and security. To learn more about how we ensure the
                    security of your data, please read the following frequently asked questions (FAQs).
                </span>
            </div>
            <div class="my-2">
                <div class="flex">
                    <span class="lg:text-xl md:text-3xl font-medium border-bottom-2">
                        Frequently Asked Questions (FAQs)
                    </span>
                </div>
            </div>

            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Are there regulations that protect the privacy of Zepiex's customers' data?
                        </span>
                    </div>
                </div>
                <div class="pl-4">
                    <span>
                        Absolutely! There are various laws and regulations designed to protect customer data. While it
                        is beyond the scope of this document to delve into each regulation in detail, some notable ones
                        include the General Data Protection Regulation (GDPR) that applies to the European Union and
                        European Economic Area, the California Consumer Privacy Act (CCPA) that applies to customers and
                        users in California, and the Privacy Act of 1988 that applies to Australian customers and users.
                        Although these laws have similarities and differences, this FAQ will primarily focus on the
                        GDPR.
                    </span>
                </div>
            </div>

            <!-- Information Collection -->

            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            What constitutes personal data?
                        </span>
                    </div>
                </div>
                <div class="pl-4">
                    <span>
                        In general terms, personal data refers to any information that can identify or potentially
                        identify an individual. Examples of personal data include names, surnames, nicknames, home
                        addresses, email addresses, telephone numbers, credit card numbers, ID numbers, geolocation data
                        (e.g., cell phone location data), IP addresses, cookie IDs, facial and voice recognition data,
                        among others.
                    </span>
                </div>
            </div>

            <!-- zapiex OwnerShip -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            What are my rights regarding my personal data?
                        </span>
                    </div>
                </div>
                <div class="pl-4">
                    <span>
                        Subject to certain limitations and restrictions, you may have specific rights concerning your
                        personal information.<br> These rights may include:
                    </span>
                </div>
                <div class="pl-6">
                    <ul>
                        <li>
                            The right to access the personal information we hold about you.

                        </li>
                        <li>
                            The right to know what personal information we collect, how it is used, and with whom it is
                            shared.
                        </li>
                        <li>
                            The right to rectify inaccurate or incomplete personal information.
                        </li>
                        <li>
                            The right to erasure or deletion ("right to be forgotten") of your personal information.
                        </li>
                        <li>
                            The right to object to our use and handling of your personal information.
                        </li>
                        <li>
                            The right to restrict the processing of your personal information.
                        </li>
                        <li>
                            The right to data portability, allowing you to transfer your personal information to another
                            party.
                        </li>
                        <li>
                            The right to withdraw consent previously provided.
                        </li>
                    </ul>
                </div>
                <div class="pl-4">
                    <span>
                        Please note that we may request additional information and verify your identity before
                        addressing your request or determining the applicability of these rights to your specific
                        circumstances.
                    </span>
                </div>
            </div>

            <!-- Payment Method -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            What types of personal data does Zepiex collect?
                        </span>
                    </div>
                </div>
                <div class="pl-4">
                    <span>
                        Zepiex collects various types of personal data to provide exceptional workforce management
                        software to our customers. This data may include, <br> but is not limited to:
                    </span>
                </div>
                <div class="pl-6">
                    <ul>
                        <li>
                            Profile information: Name, contact details, date of birth, gender, and photo provided by you
                            during signup.
                        </li>
                        <li>
                            Financial information: Bank details, credit card information, transaction history, and other
                            billing information necessary for charging you for our services.
                        </li>
                        <li>
                            Employment information: Employee rosters, timesheets, pay information, job positions or
                            functions, and other employment-related details.
                        </li>
                        <li>
                            Sensitive information: Biometric data such as facial or voice recognition provided by you or
                            your employees when using our service's "kiosk" (iPad) device.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Liability -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            How does Zepiex ensure the security of my personal data?
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <span>
                        Zepiex employs leading technical and organizational measures to secure the physical and
                        electronic information we store. For more details on Zepiex's security measures, please visit
                        our Security page. Please note that no security system is completely impervious, and due to the
                        inherent nature of the Internet, we cannot guarantee absolute safety for information during
                        transmission or storage on our systems or in our care.
                    </span>
                </div>
            </div>

            <!-- GPs Accuracy -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            How long does Zepiex retain my personal data?
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    Your personal data is retained only for the period necessary for the original collection purpose, to
                    fulfill the purposes outlined in our Privacy Policy, or to comply with legislative or regulatory
                    obligations, such as financial reporting requirements. Once your personal data reaches the end of
                    its retention period, we will either delete or anonymize your information. If deletion is not
                    immediately possible, we will securely store and isolate your information from further use until
                    deletion becomes feasible.
                </div>
            </div>

            <!-- Account Closure -->
            <div class="mt-2">
                <div class="flex">
                    <div class="flex">
                        <span class="lg:text-xl md:text-3xl font-medium border-bottom-2">
                            SERVICE AGREEMENT:
                        </span>
                    </div>
                </div>
                <!-- Licenece Ponts -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Software License: </span><span>Zepiex grants the Client
                                a non-exclusive, worldwide,
                                non-transferable license to use the Software in its operations.</span>
                        </div>
                    </div>
                </div>
                <!-- 2nd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Non-Ownership </span><span>No ownership interest or
                                rights are conferred upon the Client, except as expressly provided.</span>
                        </div>
                    </div>
                </div>
                <!-- 3rd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Term and Termination: </span><span>The license is
                                effective from the Effective Date and automatically continues unless either party
                                terminates with prior notice.</span>
                        </div>
                    </div>
                </div>
                <!-- 4th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Training: </span><span>Zepiex provides one full-day
                                training session to the Client's employees on software usage.</span>
                        </div>
                    </div>
                </div>
                <!-- 5th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Full Agreement: </span><span>The written provisions of
                                the Service Agreement supersede any oral agreements and understandings.</span>
                        </div>
                    </div>
                </div>
                <!-- 6th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Binding and Severability: </span><span>The Agreement is
                                binding and shall be valid even if a part is declared unenforceable or invalid.</span>
                        </div>
                    </div>
                </div>
                <!-- 7th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Governing Laws: </span><span>The Agreement is governed
                                by the internal laws of the Province of British Columbia.</span>
                        </div>
                    </div>
                </div>
                <!-- 8th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Force Majeure: </span><span>Parties are excused from
                                performance due to a Force Majeure Event.</span>
                        </div>
                    </div>
                </div>
                <!-- 9th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Modification: </span><span>The Agreement may not be
                                modified except by a written instrument executed by both parties.</span>
                        </div>
                    </div>
                </div>
                <!-- 10th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Counterparts: </span><span>The Agreement may be executed
                                in counterparts and validly signed through facsimile, photocopy, scanned copy, or PDF
                                signatures.</span>
                        </div>
                    </div>
                </div>
                <!-- 11th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Acts of God: </span><span>Neither party is responsible
                                for delays or failures due to causes beyond reasonable control.</span>
                        </div>
                    </div>
                </div>
                <!-- 12th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Interpretation: </span><span>The Agreement is construed
                                as a whole, according to its fair meaning, and not for or against any party.</span>
                        </div>
                    </div>
                </div>
                <!-- 13th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Time: </span><span>The parties agree that time is of the
                                essence.</span>
                        </div>
                    </div>
                </div>
                <!-- 14th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Waiver: </span><span>Delay or omission in enforcing
                                rights or remedies under the Agreement shall not be deemed a waiver.</span>
                        </div>
                    </div>
                </div>
                <!-- 15th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Authority: </span><span>Each person executing the
                                Agreement represents the authority to do so.</span>
                        </div>
                    </div>
                </div>
                <!-- 16th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Notice: </span><span>All notices shall be sent by
                                overnight mail or electronic mail.</span>
                        </div>
                    </div>
                </div>
                <!-- 17th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">No Assignment: </span><span>Rights or obligations under
                                the Agreement may not be assigned without prior written consent.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Commercial & Refund -->
            <div class="mt-2">
                <div class="flex">
                    <div class="flex">
                        <span class="lg:text-lg md:text-3xl font-medium border-bottom-2">
                            COMMERCIALS & REFUND POLICY:
                        </span>
                    </div>
                </div>
                <!-- Licenece Ponts -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">No Liability: </span><span>Zepiex is not liable for
                                indirect damages or lost profits.</span>
                        </div>
                    </div>
                </div>
                <!-- 2nd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Indemnification: </span><span>Client shall indemnify and
                                hold Zepiex harmless from any Claims.</span>
                        </div>
                    </div>
                </div>
                <!-- 3rd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Attorney Fees: </span><span>Client shall provide
                                attorneys to defend against actions brought against Indemnitees.</span>
                        </div>
                    </div>
                </div>
                <!-- 4th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Confidential Information: </span><span>Confidential
                                Information provided by one party shall be protected and not disclosed without
                                authorization.</span>
                        </div>
                    </div>
                </div>
                <!-- 5th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Exclusions: </span><span>Confidentiality obligations do
                                not apply to certain circumstances, including public domain information or court-ordered
                                disclosure.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Terms & conditions -->
            <div class="mt-2">
                <div class="flex">
                    <div class="flex">
                        <span class="lg:text-lg md:text-3xl font-medium border-bottom-2">
                            TERMS & CONDITIONS:
                        </span>
                    </div>
                </div>
                <!-- Licenece Ponts -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Monthly License Fee: </span><span>Client agrees to pay a
                                fixed monthly license fee for the Software.</span>
                        </div>
                    </div>
                </div>
                <!-- 2nd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Variable Active Guard Fee: </span><span>Additional fees
                                are charged for scheduling additional workforce beyond the aligned Daily Active Users
                                (DAUs).</span>
                        </div>
                    </div>
                </div>
                <!-- 3rd Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Due Date and Late Fee: </span><span>Monthly License Fee
                                is due on the Effective Date, and a late fee is applied to overdue payments.</span>
                        </div>
                    </div>
                </div>
                <!-- 4th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Currency: </span><span>All payments are made in USD
                                unless specified.</span>
                        </div>
                    </div>
                </div>
                <!-- 5th Pont -->
                <div>
                    <div class="flex">
                        <div class="m-auto">
                            <div class="bg-purple-700" style="width: 7px; height: 7px; border-radius: 50%; ">
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-medium">Refund: </span><span>No adjustments or refunds are made
                                at termination of the agreement.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div>
    <app-social-page></app-social-page>
</div>