<div class="col-12 p-0 surface-200">
    <div class="pt-8 text-center">
        <div>
            <h1 class="text-4xl font-semibold mb-2">
                CLOCK IN/OUT
            </h1>
        </div>
        <div class="lg:col-6 col-12 m-auto">
            <span class="text-base font-medium text-600">
                Time clock for staff attendance, efficient employee management, labor law compliance.
            </span>
        </div>
    </div>
    <div class="text-center">
        <img src="../../../assets/about-us/about-zapiex.png" alt="" class="w-11 md:w-7 lg:w-17">
    </div>
</div>

<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/about-us/about-zapiex.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Self Scheduling.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Improve employee satisfaction & become a better employer
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Empower Staff with Schedule Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Provide staff with schedule autonomy.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Boost Productivity, Decrease Absences:</span>
                            </div>
                            <div>
                                <span class="text-base">Increase efficiency, reduce sick days.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Self-Scheduling:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Save time, achieve work-life balance.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Flexible Scheduling for Various Industries:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Suitable for healthcare, supermarkets, transportation, hospitality, manufacturing,
                                    and 24/7 service sectors. Track hours and view attendance from any device.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  -->

<div class="flex md:flex-row flex-column-reverse container p-0 sidebar-img">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Time Monitoring.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Boost staff productivity.
                    </span>
                </div>
            </div>
            <div class="flex col-11 p-0">
                <div class="col-11 p-0">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Work Hour Tracking:</span>
                            </div>
                            <div>
                                <span class="text-base">Simplified system to monitor work hours and track
                                    overtime.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Elimination of Manual Record-keeping:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Bid farewell to labor-intensive maintenance of employee attendance records.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Accurate Data and Wage Calculation:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Ensures precise tracking of actual hours worked and facilitates accurate wage
                                    calculations.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Flexibility and Remote Clock-in:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Seamless integration of automated tracking with remote clock-in options, ideal for
                                    multi-location workforces on shift schedules.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/about-us/about-zapiex.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Payroll Time Tracking.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Create precise invoices and enhance project oversight.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Payroll Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Automate daily maintenance of employee timesheets for payroll processing.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Accurate Wage Calculation:</span>
                            </div>
                            <div>
                                <span class="text-base">Obtain comprehensive details on working hours,
                                    leaves, and adjustments to easily calculate wages.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Risk Mitigation:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Minimize errors and faulty salary processing associated with manual methods.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Resource Planning:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Forecast project requirements, analyze trends, and reduce overtime costs.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Task-based Time Monitoring:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Customize timesheets to monitor staff time spent on different tasks, ensuring
                                    project success.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-client-page></app-client-page>
</div>
<div>
    <app-newspaper></app-newspaper>
</div>