<div class="pt-7 m-auto container col-12 pb-0">
    <h1 class="text-center font-semibold text-xl md:text-5xl line-height-2  ">Oversee Security Officers, Validate their <br/>
      effectiveness, and promptly deliver reports to clients.</h1>
    <div class="col-11 md:col-8 m-auto text-center">
      <span class="line-height-2 text-base text-center ">Intelligent automation software designed for creating employee schedules, managing time and attendance, facilitating <br/> team communication through chat, tracking GPS location, assigning tasks and post orders, generating analytical reports <br/> on a user-friendly dashboard, and more.</span>
    
    </div>
    <!-- input email address div  -->
    <div class="py-5 m-auto col-12 flex justify-content-center  ">
    <div class="email-address md:bg-white pr-1 pl-3 py-1 border-round-3xl md:flex md:flex-row flex flex-column">
      <input class="md:mr-6 md:mb-0 mb-3" pInputText placeholder="Enter your Email Address">
      <button pButton label="Submit" class=" border-round-3xl"></button>
    
    </div>
    
    </div>
    
    <!-- dahsboard picture -->
    <div class="col-12 md:col-11 m-auto p-0" >
      <img src="../../../assets/zepiex_homescreen_dashboard.png" class="w-full"  />
    </div>
    
    </div>