<div class="lg:block hidden col-12 my-8 ">
    <div class="lg:col-10 col-12 flex justify-content-between m-auto">
        <div class="hidden container bg-purple-700 col-4 mr-4 h-23rem lg:flex justify-content-center align-items-center hidden">
            <div>
                <div>
                    <h1 class="text-7xl line-height-2 my-3 text-white">Tailored <br> for Security Firms</h1>
                </div>
                <div class="bottom-right">
                    <div class="bg-bluegray-900 arow flex justify-content-center align-items-center">
                        <p class="mt-1"><img src="../../../assets/guard-management/Arrow 3.png" alt=""></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="lg:col-8 col-12 flex p-0 border-purple-700  " style="border:2px dotted; border-radius: 10px;">
            <div class="col-4 p-0 border-purple-700" style="border-right: 2px dotted;">
                <div class="flex justify-content-center align-items-center border-purple-700"
                    style="border-bottom: 2px dotted; height: 50%;">
                    <div>
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/clipboard 1.png"
                                    alt=""></p>
                        </div>
                        <div class="text-xl font-semibold ">
                            <span class="flex justify-content-center align-items-center text-center">Custom Incident
                                Reports</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center" style="height: 50%;">
                    <div>
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/police-car 2.png"
                                    alt=""></p>
                        </div>
                        <div class="text-xl font-semibold">
                            <span>Mobile Patrol</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 p-0 border-purple-700" style="border-right: 2px dotted;">
                <div class="flex justify-content-center align-items-center border-purple-700"
                    style="border-bottom: 2px dotted; height: 50%;">
                    <div>
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/vector.png" alt="">
                            </p>
                        </div>
                        <div class="text-xl font-semibold">
                            <span>Checkpoint Tours</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center" style="height: 50%;">
                    <div>
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/Vector (1).png"
                                    alt=""></p>
                        </div>
                        <div class="text-xl font-semibold">
                            <span>Smart Response</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 p-0 border-purple-700" style="border-right: 2px dotted;">
                <div class="flex justify-content-center align-items-center border-purple-700"
                    style="border-bottom: 2px dotted; height: 50%;">
                    <div>
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/Vector (2).png"
                                    alt=""></p>
                        </div>
                        <div class="text-xl font-semibold">
                            <span>GPS Tracking</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center" style="height: 50%;">
                    <div class="p-8">
                        <div>
                            <p class="text-center m-auto"><img src="../../../assets/security-firms/icon.png" alt=""></p>
                        </div>
                        <div class="text-xl font-semibold">
                            <span>Dashboard Analytics</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-11 lg:hidden m-auto">
    <div class="text-center my-6">
        <h1 class="text-xl md:text-3xl font-semibold line-height-1">
            Top-level Security Guard Management System
        </h1>
    </div>
    <div class="flex" style="border:2px dotted; border-radius: 10px;">
        <div class="col-6 p-0 border-purple-700" style="border-right: 2px dotted;">
            <div class="h-10rem flex justify-content-center align-items-center" style="border-bottom:2px dotted;">
                <div>
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/clipboard 1.png" alt="">
                        </p>
                    </div>
                    <div class="text-xl font-semibold ">
                        <span class="flex justify-content-center align-items-center text-center">Custom Incident
                            Reports</span>
                    </div>
                </div>
            </div>
            <div class="h-10rem flex justify-content-center align-items-center border-purple-700" style="border-bottom:2px dotted;">

                <div>
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/police-car 2.png" alt="">
                        </p>
                    </div>
                    <div class="text-xl font-semibold">
                        <span>Mobile Patrol</span>
                    </div>
                </div>
            </div>
            <div class="h-10rem flex justify-content-center align-items-center">
                <div>
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/vector.png" alt="">
                        </p>
                    </div>
                    <div class="text-xl font-semibold">
                        <span>Checkpoint Tours</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="h-10rem flex justify-content-center align-items-center border-purple-700" style="border-bottom:2px dotted;">
                <div>
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/Vector (1).png" alt="">
                        </p>
                    </div>
                    <div class="text-xl font-semibold">
                        <span>Smart Response</span>
                    </div>
                </div>
            </div>
            <div class="h-10rem flex justify-content-center align-items-center border-purple-700" style="border-bottom:2px dotted;">
                <div>
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/Vector (2).png" alt="">
                        </p>
                    </div>
                    <div class="text-xl font-semibold">
                        <span>GPS Tracking</span>
                    </div>
                </div>
            </div>
            <div class="h-10rem flex justify-content-center align-items-center">
                <div class="p-8">
                    <div>
                        <p class="text-center m-auto"><img src="../../../assets/security-firms/icon.png" alt=""></p>
                    </div>
                    <div class="text-xl font-semibold text-center">
                        <span>Dashboard Analytics</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>