<div class="col-12 p-0 justify-content-center surface-200">
    <div>
        <img src="../../../assets/privacy-policy/header.png" alt="" width="100%">
    </div>
    <div class="lg:col-10 col-11 m-auto">
        <div>
            <div class="mb-2">
                <span class="lg:text-xl md:text-3xl font-semibold">
                    Privacy Policy:
                </span>
            </div>
            <div classs="pt-3">
                <span>
                    ZEPIEX Inc. (referred to as "we," "us," or "ZEPIEX" in the document below) is committed to
                    safeguarding the privacy and security of our customers' and users' personal information. This
                    Privacy Policy outlines how we collect and protect data. Please note that this policy pertains to
                    our Android, iOS, and Web applications, referred to as "ZEPIEX ManagerApp," "ZEPIEX StaffApp,"
                    "ZEPIEX WebManagerApp," and "ZEPIEX WebAdminApp" where applicable.
                    Please be aware that this Privacy Policy does not extend to third-party websites or services. We are
                    not responsible for the privacy policies, procedures, and practices of such third parties.
                    By visiting our website at www.zepiex.com or using our Android, iOS, and Web applications, or
                    contacting us via mail, you accept and agree to the terms and conditions of this Privacy Policy.
                </span>
            </div>

            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Our Business Relationship with Your Organization:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            ZEPIEX has a contractual agreement with your company where your information is directly
                            managed by your employer.
                        </li>
                        <li>
                            Your employer grants managers and guards access to ZEPIEX products.
                        </li>
                        <li>
                            User information is used to schedule guards at specific sites based on GPS coordinates.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Information Collection -->

            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Our Business Relationship with Your Organization:
                        </span>
                    </div>
                </div>
                <div class="pl-3 pb-2">
                    <span class="text-base font-medium text-purple-700">A.</span><span class="text-base font-medium">
                        Information Provided by Your Employer:</span>
                </div>
                <div class="pl-6">
                    <ul>
                        <li>
                            When your security company enters into an agreement with us, they provide company details
                            (name, address, logo, phone number, email) to initiate the contract.
                        </li>
                        <li>
                            Managers are added to our system by your employer, including their name, address, profile
                            photo, phone number, and email.
                        </li>
                        <li>
                            Managers add sites, site supervisors, and client contact information.
                        </li>
                        <li>
                            Managers can add security guards using their personal and contact details.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Information Collected About Zapiez -->
            <div class="mt-2">
                <div class="pl-3 pb-2">
                    <span class="text-base font-medium text-purple-700">B.</span><span class="text-base font-medium">
                        Information Collected by ZEPIEX Products:</span>
                </div>
                <div class="pl-6">
                    <ul>
                        <li>
                            Phone: The ManagerApp and StaffApp direct call functionality to the default phone dialer app
                            on users' devices. No call recordings are made.
                        </li>
                        <li>
                            Location: The StaffApp tracks guards' GPS coordinates during duty, providing tracking
                            information to managers. The ManagerApp uses web sockets to fetch track history.
                        </li>
                        <li>
                            Camera: All ZEPIEX products require camera access to capture pictures for incident reports
                            and other purposes.
                        </li>
                        <li>
                            Storage: All ZEPIEX products need access to storage to upload photos or file attachments.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Information Usage -->
            <div class="mt-2">
                <div class="pl-3 pb-2">
                    <span class="text-base font-medium text-purple-700">C.</span><span class="text-base font-medium">
                        Information Usage:</span>
                </div>
                <div class="pl-6">
                    <ul>
                        <li>
                            ZEPIEX products enable managers and guards to access information from their mobile devices.
                            Location information is recorded to show tracks to concerned managers.


                        </li>
                        <li>
                            ZEPIEX may use personal information to provide support and communicate with users.
                        </li>
                        <li>
                            User information is stored and processed in countries where we have facilities or provide
                            services.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- zapiex OwnerShip -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            ZEPIEX Ownership:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            ZEPIEX and its logo are owned by ZEPIEX Inc., protected by British Columbia Business
                            Incorporation Law (Registration no. 00000000).
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Payment Method -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Payment Methods:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            ZEPIEX ManagerApp and StaffApp do not include payment methods.
                        </li>
                        <li>
                            The billing section in ZEPIEX WebAdminApp displays usage information to the company.
                        </li>
                        <li>
                            Refund policies and payment methods are agreed upon during contract signing.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Liability -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Liability:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            ZEPIEX and its products are not liable for real-world incidents on-site or to users.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- GPs Accuracy -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            GPS Accuracy:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            GPS accuracy varies across Android and iOS devices, and ZEPIEX continuously improves the
                            methods available to us.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Account Closure -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Account Closure:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            ZEPIEX reserves the right to close user accounts without cause if necessary.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Validity -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Validity:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li>
                            These terms remain valid even after the agreement with your company is closed.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Agreement Updated -->
            <div class="mt-2">
                <div class="flex">
                    <div class="m-auto">
                        <div class="bg-purple-700" style="width: 10px; height: 10px; border-radius: 50%; ">
                        </div>
                    </div>
                    <div class="pl-2 col-12 m-auto flex">
                        <span class="lg:text-lg md:text-3xl font-medium">
                            Agreement Updates:
                        </span>
                    </div>
                </div>
                <div class="pl-5">
                    <ul>
                        <li class="pb-1">
                            ZEPIEX has the right to update this Privacy Policy to reflect changes in technology, legal
                            requirements, or other factors.
                        </li>
                        <li>
                            Users will be notified of major updates
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div>
    <app-social-page></app-social-page>
</div>