<div class="col-12 p-0 surface-200">
    <div class="pt-8 text-center">
        <div>
            <h1 class="text-4xl font-semibold mb-2">
                CHAT SYSTEM
            </h1>
        </div>
        <div class="lg:col-6 col-12 m-auto">
            <span class="text-base font-medium text-600">
                Boost productivity with real-time work messaging, eliminating unproductive meeting time.
            </span>
        </div>
    </div>
    <div class="text-center">
        <img src="../../../assets/about-us/about-zapiex.png" alt="" class="w-11 md:w-7 lg:w-17">
    </div>
</div>

<!-- Shifting Plan -->
<div class="pt-8 text-center lg:block hidden">
    <div>
        <h1 class="text-4xl font-semibold mb-2">
            Broad Cast Message
        </h1>
    </div>
    <div>
        <span class="text-base font-medium text-600">
            Ensures an immediate reply.
        </span>
    </div>

    <!-- Image-Container -->
    <div class="col-12 image-container m-auto">
        <div class=" flex m-auto">
            <!-- Center Container -->
            <div class="col-12">
                <img src="../../../assets/scheduling/chat-system.png" alt="" class="w-full">
            </div>
        </div>
    </div>

    <!-- mobile and tablet view -->


</div>

<div class="col-11 lg:hidden block">
    <div class="col-11 m-auto flex flex-wrap-reverse md:flex-wrap">
        <!-- Left Container -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/scheduling/chat-system.png" alt="" class="w-11">
        </div>
        <!-- Right Container -->
        <div class="md:col-6 col-12 m-auto text-center">
            <div>
                <h1 class="lg:text-4xl text-2xl lg:font-semibold font-medium mb-2">
                    Broad Cast Message
                </h1>
            </div>
            <div>
                <span class="text-base font-medium text-600">
                    Ensures an immediate reply.
                </span>
            </div>
            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Mass Messaging:</span>
                    </div>
                    <div>
                        <span class="text-base">Send messages to multiple team members simultaneously.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Efficient Task Updates:</span>
                    </div>
                    <div>
                        <span class="text-base">Convey updates, project status, and announcements conveniently.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Streamlined Communication:</span>
                    </div>
                    <div>
                        <span class="text-base">Accelerate message flow with important broadcasts.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Enhanced Engagement:</span>
                    </div>
                    <div>
                        <span class="text-base">Improve customer engagement and boost revenue.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<div class="flex md:flex-row flex-column-reverse container p-0 sidebar-img">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7 ">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Individual and group messaging.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Enable group-wide instant messaging expansion.
                    </span>
                </div>
            </div>

            <div class="flex col-11 p-0  lg:text-left justify-content-left text-center">
                <div class="col-11 p-0">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamline Communication:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Reduce time spent on communication through online coordination.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Collaboration:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Facilitate team discussions and mutual assistance without physical presence.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Remote Decision Making:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Enable instant decision-making in group chats, irrespective of team locations.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Secure Document Sharing:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Easily share files and documents within a secure environment, minimizing reliance on
                                    lengthy emails.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/about-us/about-zapiex.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Collaborative Document Sharing
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Go beyond communication and transform your conversations into valuable resources.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Advanced Messaging:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Modern messengers offer more than simple texting.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Seamless Data Sharing:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Facilitate easy sharing of documents and files.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Task Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Communicate and collaborate with team members effectively.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Documentation:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Track chat threads and shared documents conveniently.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Simplified File Transfer:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Say goodbye to email attachments, effortlessly drag, drop, and send files.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">

        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        App for Mobile and Desktop
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Stay connected at all times.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Seamless Staff Communication:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Connect with your staff anytime, anywhere.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Enhanced Office Visibility:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Stay informed about office activities remotely.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Schedule Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Streamline schedules, access files, and review tasks effortlessly.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Improved Collaboration:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Foster team collaboration, create presentations, and work on pitches.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Enhanced Business Accessibility:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Save time and money by reducing manual tasks and increasing accessibility.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>
<div>
    <app-newspaper></app-newspaper>
</div>