<div class="col-12 flex md:flex-row flex-column container ">
    <div class="py-6 col-12 md:col-6 lg:pl-7 ">
        <span class="text-base pb-2 font-medium">Features</span>
        <h1 class="text-xl md:text-3xl ">Staff scheduling and monitoring applicable <br /> to all.</h1>
        <div class="flex">
            <div class="col-11">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                Schedule Management
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <span>Part time, night shifts, remote employees or the day jobs - howsoever your business works,
                            our solution works for you.</span>
                    </mat-expansion-panel>

                    <!-- quesstion 2  -->

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                Task & Post Orders
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <span>Plan, track, report, and be aware of your employees’ workload. Empower them to collaborate
                            smoothly and complete tasks on time.</span>
                    </mat-expansion-panel>

                    <!-- quesstion 3  -->

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                GPS & Geofence
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <span>Track easily and ensure employee accountability. Know how your team moves in real time on
                            your smartphone.
                        </span>
                    </mat-expansion-panel>

                    <!-- quesstion 4  -->

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                Clock In/Out
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <span>A clean way to automize attendance, record, store, and monitor employees turnout history &
                            manage the staff efficiently.
                        </span>
                    </mat-expansion-panel>

                    <!-- quesstion 5  -->

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-lg">
                                Timesheets
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <span>Get a daily track of your team’s productivity, a metric that is otherwise difficult to
                            gauge.
                        </span>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>


        </div>
    </div>

    <!-- sidebar image  -->
    <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center  sidebar-img">
        <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
    </div>
    <!-- <img src="../../../assets/sidebar_rectangular.png" class="image w-9" /> -->
</div>