<div class="card col-12 flex align-items-center justify-content-center lg:my-8 bg-white">
    <div class="flex flex-wrap-reverse md:flex-wrap card-container justify-content-center p-0 lg:col-10 col-11 border-round-2xl shadow-3 my-8" style="background-color: #9C4F96;">
        <div class="flex align-items-center justify-content-center lg:col-7 col-12 p-4">
            <div>
                <div class="text-white">
                    <h1 class="mb-1 text-3xl">Download App</h1>
                </div>
                <div>
                    <span class="text-white">
                        Download our Android or iOS app from the Play Store today and experience the ultimate
                        convenience at your fingertips. Stay connected, access exclusive features, and enjoy a seamless
                        user experience with our intuitive mobile application. Enhance your journey with us by
                        downloading the app now!
                    </span>
                </div>
                <div class="lg:flex md:flex">
                    <div class="flex align-items-center justify-content-center">
                        <img src="../../../assets/socail-page/gp 1.png" alt="">
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <img src="../../../assets/socail-page/ios 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:flex align-items-center justify-content-center p-0 lg:col-5 col-12 lg:block hidden">
            <img src="../../../assets/socail-page/mobl app.png" alt="" style="margin-top: -116px;">
        </div>
    </div>
</div>