<div class="col-12 p-0 justify-content-center surface-200">
    <div>
        <img src="../../../assets/pricing-plans/header-image.png" alt="" width="100%">
    </div>
    <div class="lg:col-10 col-11 m-auto">
        <!-- Our Pricing Plan Heading -->
        <div class="text-center">
            <div class="my-3">
                <span class="text-4xl font-semibold">
                    Our Pricing Plans
                </span>
            </div>
            <!-- Sub-Heading -->
            <div>
                <span class="text-purple-700 text-base font-semibold">Pick your account plan that fits your workflow</span>
            </div>
        </div>
        <div class="w-full m-auto flex justify-content-center mt-6">
            <div style="width: 200px; background-color: #541690;" class="text-center p-2 text-white text-2xl">
                Recommended
            </div>
        </div>
        <div class="col-12 p-0 flex flex-wrap-reverse md:flex-wrap border-purple-400 border-1 bg-white">
            <!-- Basic Plan -->
            <div class="lg:col-4 md:col-6 col-12 p-3" style="background-color: rgb(218, 212, 218);">
                <div>
                    <div>
                        <div class="my-2">
                            <span class="text-purple-500 font-medium">Base</span>
                        </div>
                        <div class="flex">
                            <div>
                                <span class="text-2xl font-medium">$19</span>
                            </div>
                            <div class="pl-2 pt-1" style="color: #7B7B7B">
                                <span>user/month</span>
                            </div>
                        </div>
                        <div class="my-2">
                            <span>Aenean at lectus posuere enim id nec.
                                Molestie neque , sed fusce faucibus.</span>
                        </div>
                        <div class="w-full">
                            <button class="p-2 border-1 border-purple-700 border-round-lg w-full text-base">
                                Subscribe
                            </button>
                        </div>
                        <div class="mt-4">
                            <span class="text-purple-500 font-medium">What’s included</span>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Standerd Plan -->
            <div class="lg:col-4 md:col-6 col-12 p-3" style="background-color: black;">
                <div>
                    <div>
                        <div class="my-2">
                            <span class="text-purple-500 font-medium">Standard</span>
                        </div>
                        <div class="flex">
                            <div>
                                <span class="text-2xl font-medium text-white">$19</span>
                            </div>
                            <div class="pl-2 pt-1" style="color: #7B7B7B">
                                <span>user/month</span>
                            </div>
                        </div>
                        <div class="my-2 text-white">
                            <span>Aenean at lectus posuere enim id nec.
                                Molestie neque , sed fusce faucibus.</span>
                        </div>
                        <div class="w-full">
                            <button class="p-2 border-1 border-purple-700 border-round-lg w-full bg-purple-700 text-white text-base">
                                Subscribe
                            </button>
                        </div>
                        <div class="mt-4">
                            <span class="text-purple-500 font-medium">What’s included</span>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm text-white">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm text-white">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm text-white">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm text-white">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Premium Plan -->
            <div class="lg:col-4 md:col-6 col-12 p-3" style="background-color: rgb(218, 212, 218);">
                <div>
                    <div>
                        <div class="my-2">
                            <span class="text-purple-500 font-medium">Base</span>
                        </div>
                        <div class="flex">
                            <div>
                                <span class="text-2xl font-medium">$19</span>
                            </div>
                            <div class="pl-2 pt-1" style="color: #7B7B7B">
                                <span>user/month</span>
                            </div>
                        </div>
                        <div class="my-2">
                            <span>Aenean at lectus posuere enim id nec.
                                Molestie neque , sed fusce faucibus.</span>
                        </div>
                        <div class="w-full">
                            <button class="p-2 border-1 border-purple-700 border-round-lg w-full text-base">
                                Subscribe
                            </button>
                        </div>
                        <div class="mt-4">
                            <span class="text-purple-500 font-medium">What’s included</span>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex mt-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/tick-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                            <div class="flex my-2">
                                <div>
                                    <img src="../../../assets/pricing-plans/close-circle.png" alt="">
                                </div>
                                <div class="pl-2 text-sm">
                                    <span>Is a sales copy really omnipotent? Is there a universal formula for writing
                                        copy that will definitely lead to a sale?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <app-social-page></app-social-page>
</div>