
    <app-home-layout></app-home-layout>
    <app-guard-management></app-guard-management>
    <app-scheduling-and-management></app-scheduling-and-management>
    <app-security-firms></app-security-firms>
    <app-staff-scheduling></app-staff-scheduling>
    <app-custom-incident></app-custom-incident>
    <app-monitoring-points></app-monitoring-points>
    <app-site-safety></app-site-safety>
    <app-social-page></app-social-page>
    <app-client-page></app-client-page>
    <app-newspaper></app-newspaper>