<div class="col-12 surface-200 lg:block hidden">
  <div class="text-center my-8">
    <h1 class="text-xl md:text-3xl font-semibold font-semibold">
      Scheduling & Management
    </h1>
  </div>
  <div class=" image-container justify-content-center m-auto flex col-10 my-8">
    <img src="../../../assets/Frame 74.png" alt="Image">
    <div class="text-overlay">
      <div class="flex">
        <div class="p-2">
          <div class="text-card scheduling flex justify-content-center align-items-center" style="margin-top: -10px;">
            <div>
              <div>
                <span class="pi pi-calendar-minus text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">Scheduling</h2>
              </div>
            </div>

          </div>
        </div>
        <div class="p-2">
          <div class="text-card tast-post flex justify-content-center align-items-center" style="margin-top: -3px;">
            <div>
              <div>
                <span class="pi pi-check-circle text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">Task & Post</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="p-2">
          <div class="text-card flex geofence justify-content-center align-items-center" style="margin-top: -10px;">
            <div>
              <div>
                <span class="pi pi-compass text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">GPS Geofence</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <div class="text-card flex clockIn justify-content-center align-items-center">
            <div>
              <div>
                <span class="pi pi-clock text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">Clock In/Out</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <div class="text-card flex timesheet justify-content-center align-items-center" style="margin-top: -4px;">
            <div>
              <div>
                <span class="pi pi-paperclip text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">Timesheet</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <div class="text-card flex chat justify-content-center align-items-center" style="margin-top: 1px;">
            <div>
              <div>
                <span class="pi pi-envelope text-4xl"></span>
              </div>
              <div>
                <h2 class="text-xl">Chat</h2>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-12 lg:hidden block surface-200">
  <div class="text-center mt-6">
    <h1 class="text-xl md:text-3xl font-semibold font-semibold">
      Scheduling & Management
    </h1>
  </div>
  <div class="flex flex-wrap-reverse md:flex-wrap col-12">
    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #CC222B4D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-calendar-minus text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">Scheduling</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #B4203F4D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-check-circle text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">Task & Post</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #9C1D534D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-compass text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">GPS Geofence</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #841B684D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-clock text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">Clock In/Out</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #6C187C4D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-paperclip text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">Timesheet</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2 md:col-4 col-6">
      <div class="h-11rem border-round-2xl" style="background-color: #5416904D;">
        <div class="text-card flex justify-content-center align-items-center w-full">
          <div>
            <div class="flex justify-content-center align-items-center">
              <span class="pi pi-envelope text-4xl"></span>
            </div>
            <div>
              <h2 class="text-xl">Chat</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>