<div class="card-container justify-content-center  p-4">
    <div class="flex flex-column-reverse lg:flex-row">
        <div class="flex align-items-center justify-content-center  font-bold text-white border-round col-12 lg:col-7"
            style="min-height: 100px">
            <img src="../../../assets/incident/mock 2 2.png" alt="" class="w-11">
        </div>
        <div class="flex  align-items-center justify-content-center  border-round lg:col-5 col-12"
            style="min-height: 100px">
            <div>
                <!-- Heading -->
                <div>
                    <span class="text-purple-700 font-medium">CUSTOM INCIDENT REPORT</span>
                </div>
                <!-- Sub-Heading -->
                <div class="mt-2">
                    <span class="text-xl md:text-3xl line-height-1">Pre-designed formats for speedy report generation.</span>
                </div>
                <!-- Text -->
                <div class="mt-2">
                    <span class="text-lg">
                        Reduce response time for addressing incidents by utilizing pre-existing report templates,
                        allowing for prompt submission. Gather comprehensive details to prevent recurrence of similar
                        events.
                    </span>
                </div>


                <!-- Primary Characteristics: -->
                <div class="mt-4">
                    <span class="text-xl md:text-3xl">Primary Characteristics:</span>
                </div>
                <div class="flex mt-3">
                    <!-- Icon -->
                    <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                        <span class="text-white pi pi-angle-right"></span>
                    </div>
                    <!-- Text -->
                    <div class="m-auto text-center w-full text-left pl-3">
                        <span class="text-xl">Custom Forms</span>
                    </div>
                </div>

                <!-- Eliminate -->
                <div class="flex mt-3">
                    <!-- Icon -->
                    <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                        <span class="text-white pi pi-angle-right"></span>
                    </div>
                    <!-- Text -->
                    <div class="m-auto text-center w-full text-left pl-3">
                        <span class="text-xl">Eliminate Paperwork & overhead</span>
                    </div>
                </div>

                <!-- Smart Data -->
                <div class="flex mt-3">
                    <!-- Icon -->
                    <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                        <span class="text-white pi pi-angle-right"></span>
                    </div>
                    <!-- Text -->
                    <div class="m-auto text-center w-full text-left pl-3">
                        <span class="text-xl">Smart Data Collection</span>
                    </div>
                </div>

                <!-- Buiness -->
                <div class="flex mt-3">
                    <!-- Icon -->
                    <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                        <span class="text-white pi pi-angle-right"></span>
                    </div>
                    <!-- Text -->
                    <div class="m-auto text-center w-full text-left pl-3">
                        <span class="text-xl">Business Growth with Real Data Reports</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>