<div class="col-12 p-0 surface-200">
    <div class="pt-8 text-center">
        <div>
            <h1 class="text-4xl font-semibold mb-2">
                TASK MANAGEMENT
            </h1>
        </div>
        <div class="lg:col-6 col-12 m-auto">
            <span class="text-base font-medium text-600">
                Centralize management for streamlined operations. Enhance team collaboration and interdepartmental
                partnerships.
            </span>
        </div>
    </div>
    <div class="text-center">
        <img src="../../../assets/about-us/about-zapiex.png" alt="" class="w-11 md:w-7 lg:w-17">
    </div>
</div>

<!-- Shifting Plan -->
<div class="pt-8 text-center lg:block hidden">
    <div>
        <h1 class="text-4xl font-semibold mb-2">
            Scheduled Tasks & Task Lists
        </h1>
    </div>
    <div>
        <span class="text-base font-medium text-600">
            Organize and oversee staff using scheduling checklists.
        </span>
    </div>

    <!-- Image-Container -->
    <div class="col-12 image-container m-auto">
        <div class=" flex m-auto">
            <!-- Center Container -->
            <div class="col-12">
                <img src="../../../assets/task.png" alt="" class="w-full">
            </div>
        </div>
    </div>

    <!-- mobile and tablet view -->


</div>

<div class="col-11 lg:hidden block">
    <div class="col-11 m-auto flex flex-wrap-reverse md:flex-wrap">
        <!-- Left Container -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/scheduling/chat-system.png" alt="" class="w-11">
        </div>
        <!-- Right Container -->
        <div class="md:col-6 col-12 m-auto text-center">
            <div>
                <h1 class="text-4xl font-semibold mb-2">
                    Scheduled Tasks & Task Lists
                </h1>
            </div>
            <div>
                <span class="text-base font-medium text-600">
                    Organize and oversee staff using scheduling checklists.
                </span>
            </div>
            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Technology-Enabled Efficiency:</span>
                    </div>
                    <div>
                        <span class="text-base">Utilize technology for efficient task execution and team
                            management.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Automated Progress Tracking:</span>
                    </div>
                    <div>
                        <span class="text-base">Save task history, eliminating the need for manual progress
                            tracking.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Centralized Checklists:</span>
                    </div>
                    <div>
                        <span class="text-base">Create and manage checklists for queuing, scheduling, and
                            delegation.</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="">
                    <img src="../../../assets/scheduling/icon.png" alt="">
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Enhanced Accountability:</span>
                    </div>
                    <div>
                        <span class="text-base">Keep teams focused, send automated notifications to supervisors for
                            improved task completion.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<div class="flex md:flex-row flex-column-reverse container p-0 sidebar-img">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7 ">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Automated Task Confirmation.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Boost efficiency by optimizing workflow.
                    </span>
                </div>
            </div>

            <div class="flex col-11 p-0  lg:text-left justify-content-left text-center">
                <div class="col-11 p-0">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Conflict-Free Scheduling:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Automated task confirmation minimizes conflicts.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Workflow:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Optimize operations, increase organizational capacity.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Reporting:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Intuitive task scheduler reduces admin reporting time by 70%.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Real-time Project Tracking:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Supervisors track project status in real time without interrupting staff.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Flexible Work Schedule:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Enhance flexibility, reduce overtime, and minimize absences.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Empowered Staff:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Improve staff satisfaction by giving them control over work allocation.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/about-us/about-zapiex.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Visual Evidence.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Assume control of project tasks.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Enhanced Control and Accountability:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Provides tangible evidence for added control and accountability.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Optimal Performance Boost and Timely Task
                                    Completion:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Improves team performance, ensures timely task completion.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Remote Monitoring and Improved Security:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Enables remote monitoring and management, enhancing overall security and reducing
                                    ownership costs.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Real-time Data Upload and Context-driven Work:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Facilitates real-time data upload for better response to context-driven work.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Interface and Paperwork Reduction:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Offers a clean, organized interface, minimizing paperwork.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Reported Tasks.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Improved decision-making through effective information distribution.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Actionable Reporting:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Transform key metrics into actionable reports.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Time and Error Reduction:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Eliminate time-consuming and error-prone data compilation from multiple
                                    spreadsheets.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Efficient Analysis:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Generate weekly, monthly, and yearly reports within minutes to analyze productivity.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Real-time Insights:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Monitor incidents, activities, and trends for immediate improvisation.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">User-Friendly Interface:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Manage processes without technical expertise, designed for individuals with no
                                    technical experience.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>
<div>
    <app-social-page></app-social-page>
</div>
<div>
    <app-client-page></app-client-page>
</div>
<div>
    <app-newspaper></app-newspaper>
</div>