<div class="surface-200">
    <div class="col-12 flex justify-content-center ">
        <div class="col-11 flex">
            <div class="lg:col-6 col-12 m-auto">
                <div>
                    <div class="my-2">
                        <span class="text-purple-700 font-mediun">Category</span>
                    </div>
                    <div>
                        <h1 class="text-5xl line-height-1">Essential Insurances for Security Guard Companies: 5 Key
                            Types</h1>
                    </div>
                    <div>
                        <span class="text-xl line-height-1">Regardless of whether you're starting a new business or
                            operating an established one,
                            obtaining insurance is essential. Why? Because the business landscape is filled with
                            uncertainties, and there are no guarantees. Therefore, it is always prudent to protect
                            yourself
                            with insurance and be prepared for any unforeseen circumstances....</span>
                    </div>
                </div>

                <div class="flex mt-3">
                    <div>
                        <p-avatar>
                            <img src="../../../assets/blog.png" alt="">
                        </p-avatar>
                    </div>
                    <div class="m-auto border-right-2">
                        <span class="pr-3 text-base">By Jordan Mirchev</span>
                    </div>
                    <div class="m-auto border-right-2">
                        <span class="pr-3 text-base">Published on November 14, 2022</span>
                    </div>
                    <div class="m-auto">
                        <span class="text-base">5 min read</span>
                    </div>

                </div>
            </div>
            <div class="lg:col-6 flex justify-content-center ">
                <div class="lg:block hidden">
                    <img src="../../../assets/blogs/Feature Image.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Popular Posts -->

<div class="col-12 flex justify-content-center">
    <div class="col-11 flex">
        <div class="lg:col-8 col-12">
            <div class="border-bottom-2 border-300 pb-3">
                <div>
                    <span class="text-xl">
                        The reason is that, compared to most other professions, security guards have to deal with the
                        danger
                        to a greater extent. So insurance is not a negotiable aspect of your security guard business.
                    </span>
                    <div class="my-2">
                        <span class="text-2xl font-medium">Types of Insurance Policies For Security Guard
                            Businesses:</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            Many even refer to general insurance as a variant of commercial insurance for protecting the
                            security guard business from financial losses. However, the claims must arise from any
                            property
                            damage or bodily injuries. So, in the case where your security guard or patrolling officer
                            gets
                            in
                            an accident while on duty and causes bodily injuries or property damage to a third party,
                            this
                            insurance will help you cover the losses.
                        </span>
                    </div>
                </div>
                <div>
                    <div class="my-2">
                        <span class="text-2xl font-medium">1) Types of Insurance Policies For Security Guard
                            Businesses:</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            Less than $25 <br>
                            The premium costs of these insurance policies depend on different factors. These factors
                            include
                            location, size, nature of risk, amount deductible, and coverage limit for your security
                            guard
                            business.

                        </span>
                    </div>
                </div>
                <div>
                    <div class="my-2">
                        <span class="text-2xl font-medium">2) Commercial Automobile Insurance Policies</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            Less than $25 <br>
                            The premium costs of these insurance policies depend on different factors. These factors
                            include
                            location, size, nature of risk, amount deductible, and coverage limit for your security
                            guard
                            business.
                        </span>
                    </div>
                    <div class="my-2">
                        <span class="text-2xl font-medium">What is Commercial Automobile Insurance?</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            Commercial Automobile Insurance is an insurance coverage most businesses avail of where
                            there is
                            a usage of automobiles or vehicles. For security companies, these vehicles mostly include
                            patrolling cars. Security guards cannot do their jobs sitting idle in a place. They need to
                            move
                            across locations, and even if you are a small security guard business, you will need at
                            least
                            one vehicle. In such cases, get insurance for your patrolling vehicles to avoid losses when
                            things go wrong.
                        </span>
                    </div>
                    <div class="my-2">
                        <span class="text-2xl font-medium">Why do you need Commercial Automobile Insurance?</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            Commercial Automobile Insurance will cover the damages for you and other vehicles involved
                            in a
                            mishap. Additionally, these insurance policies offer cover for employees driving the car
                            during
                            the accident. Any property damage caused due to the vehicle accident also comes under this
                            insurance policy.
                        </span>
                    </div>
                    <div class="my-2">
                        <span class="text-xl font-medium">What is the cost of General Liability Insurance?</span>
                    </div>
                    <div>
                        <span class="text-xl">
                            $130 per month
                        </span>
                    </div>
                </div>
            </div>

            <!-- Related Blogs -->
            <div>
                <div class="p-2 py-3">
                    <span>
                        HERE ARE SOME RELATED ARTICALES YOU MAY FIND INTERESTIONS:
                    </span>
                </div>

                <div class="lg:flex col-12 p-0" *ngFor="let data of reltedBlogs">
                    <!-- Image  -->
                    <div class="lg:col-4 md:col-4 col-12">
                        <img [src]="data.image" alt="" width="100%" height="100%">
                    </div>
                    <div class="lg:col-8 md:col-8 col-12">
                        <!-- Title -->
                        <div class="pb-2">
                            <span class="text-base text-600">BLOG - 4 {{data.title}}</span>
                        </div>
                        <!-- Sub-title -->
                        <div class="pb-2">
                            <span class="text-xl font-medium">{{data.sub_title}}</span>
                        </div>
                        <!-- Description -->
                        <div>
                            <span class="text-base text-600">{{data.discription}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-4 p-3 lg:block hidden">
            <span>
                POPULAR POSTS
            </span>
            <div class="flex py-3 border-bottom-2 border-300" *ngFor="let data of data">
                <div>
                    <p-avatar>
                        <img [src]="data.image" alt="" width="300px">
                    </p-avatar>
                </div>
                <div class="px-2">
                    <div>
                        <span>{{data.title}}</span>
                    </div>
                    <div>
                        <span class="text-base font-medium">
                            {{data.discription}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="bg-purple-700 h-15rem border-round-2xl mt-4 flex justify-content-center text-center">
                <div class="m-auto">
                    <span class="text-xl my-2 text-white">
                        Get More Done <br> Together With US
                    </span>
                    <div class="my-2">
                        <span class="text-white">
                            Lorem ipsum dolor sit <br> amet, consectetur <br> adipiscing elit.
                        </span>
                    </div>
                    <div class="bg-green-100 py-2 border-round-2xl">
                        <span>
                            Get Started
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- Components-Calls -->
<!-- Client-Page -->
<app-client-page></app-client-page>
<!-- NewsPaper-Componets -->
<app-newspaper></app-newspaper>