<div class="col-12 justify-content-center">
    <div class="text-center my-6">
        <h1 class="text-xl md:text-3xl font-semibold">
            Top-level Security Guard Management System
        </h1>
    </div>
    <div class="flex flex-wrap-reverse md:flex-wrap card-container purple-container lg:col-10 col-12 justify-content-center m-auto">
        <div class="lg:col-4 md:col-6 col-12">
            <div class="image-container">
                <img src="../../../assets/guard-management/b1.png" alt="Your Image" height="350px" width="100%"
                    style="border-radius: 10px;">
                <div class="text-overlay w-full">
                    <div>
                        <img src="../../../assets/guard-management/crisis-management 1.png" alt="">
                    </div>
                    <div>
                        <h2>
                            Guard Management
                        </h2>
                        <span class="text-base mt-2 text-justify">
                            Propose a cutting-edge system for overseeing the efficiency of security staff and mobile
                            patrol units."
                        </span>
                    </div>
                    <div class="btn p-2 flex mt-2 justify-content-center">
                        <div>
                            <span>Show More</span>
                        </div>
                        <div class="pl-3">
                            <span class="pi pi-arrow-right"></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="lg:col-4 md:col-6 col-12">
            <div class="image-container">
                <img src="../../../assets/guard-management/b2.png" alt="Your Image" height="350px" width="100%"
                    style="border-radius: 10px; margin-top: -18px;">
                <div class="text-overlay w-full">
                    <div>
                        <img src="../../../assets/guard-management/police-car 1.png" alt="">
                    </div>
                    <div>
                        <h2>
                            Guard Management
                        </h2>
                        <span class="text-base mt-2 text-justify">
                            Propose a cutting-edge system for overseeing the efficiency of security staff and mobile
                            patrol units."
                        </span>
                    </div>
                    <div class="btn p-2 flex mt-2 justify-content-center">
                        <div>
                            <span>Show More</span>
                        </div>
                        <div class="pl-3">
                            <span class="pi pi-arrow-right"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="lg:col-4 md:col-6 col-12">
            <div class="image-container">
                <img src="../../../assets/guard-management/b3.png" alt="Your Image" height="350px" width="100%"
                    style="border-radius: 10px">
                <div class="text-overlay w-full">
                    <div>
                        <img src="../../../assets/guard-management/chat 1.png" alt="">
                    </div>
                    <div>
                        <h2>
                            Guard Management
                        </h2>
                        <span class="text-base mt-2 text-justify">
                            Propose a cutting-edge system for overseeing the efficiency of security staff and mobile
                            patrol units."
                        </span>
                    </div>
                    <div class="btn p-2 flex mt-2 justify-content-center">
                        <div>
                            <span>Show More</span>
                        </div>
                        <div class="pl-3">
                            <span class="pi pi-arrow-right"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>