<div class="col-12 p-0 surface-200">
    <div class="pt-8 text-center">
        <div>
            <h1 class="text-4xl font-semibold mb-2">
                GPS GEOFENCE
            </h1>
        </div>
        <div class="lg:col-6 col-12 m-auto">
            <span class="text-base font-medium text-600">
                Address employee presence gaps, monitor staff movements during clocked-in hours, and ensure efficient
                last-mile delivery.
            </span>
        </div>
    </div>
    <div class="text-center">
        <img src="../../../assets/about-us/about-zapiex.png" alt="" class="sm:w-11 md:w-11 lg:w-7">
    </div>
</div>

<!-- Shifting Plan -->
<div class="pt-8 text-center lg:block hidden">
    <div>
        <h1 class="text-4xl font-semibold mb-2">
            Shift Planning
        </h1>
    </div>
    <div>
        <span class="text-base font-medium text-600">
            Fast & reliable shift planning assistance
        </span>
    </div>

    <!-- Image-Container -->
    <div class="col-12 image-container m-auto">
        <div class=" flex m-auto">
            <!-- Center Container -->
            <div class="col-12">
                <img src="../../../assets/scheduling/b1 (2).png" alt="" class="w-full">
            </div>
        </div>
    </div>

    <!-- mobile and tablet view -->


</div>

<div class="col-11 lg:hidden block">
    <div class="col-11 m-auto flex flex-wrap-reverse md:flex-wrap">
        <!-- Left Container -->
        <div class="md:col-6 sm:col-12 m-auto">
            <img src="../../../assets/scheduling/image-container.png" alt="" class="w-11">
        </div>
        <!-- Right Container -->
        <div class="md:col-6 col-12 m-auto">
            <div>
                <h1 class="text-4xl font-semibold mb-2">
                    Shift Planning
                </h1>
            </div>
            <div>
                <span class="text-base font-medium text-600">
                    Fast & reliable shift planning assistance
                </span>
            </div>
            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                    <span class="text-white pi pi-angle-right"></span>
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Business Growth with Real Data Reports</span>
                    </div>
                    <div>
                        <span class="text-base">Business Growth with Real Data Reports</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                    <span class="text-white pi pi-angle-right"></span>
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Business Growth with Real Data Reports</span>
                    </div>
                    <div>
                        <span class="text-base">Business Growth with Real Data Reports</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                    <span class="text-white pi pi-angle-right"></span>
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Business Growth with Real Data Reports</span>
                    </div>
                    <div>
                        <span class="text-base">Business Growth with Real Data Reports</span>
                    </div>
                </div>
            </div>

            <!-- Buiness -->
            <div class="flex mt-3">
                <!-- Icon -->
                <div class="icon bg-purple-700 flex align-items-center justify-content-center">
                    <span class="text-white pi pi-angle-right"></span>
                </div>
                <!-- Text -->
                <div class="m-auto text-center w-full text-left pl-3">
                    <div>
                        <span class="text-xl font-medium">Business Growth with Real Data Reports</span>
                    </div>
                    <div>
                        <span class="text-base">Business Growth with Real Data Reports</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--  -->

<div class="flex md:flex-row flex-column-reverse container p-0 sidebar-img">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Available shifts
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        CUSTOM INCIDENT REPORT
                    </span>
                </div>
            </div>
            <div class="flex col-11 p-0">
                <div class="col-11 p-0">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Seamless Shift Filling:</span>
                            </div>
                            <div>
                                <span class="text-base">Effortlessly fill open shifts with ease.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Enhanced Productivity:</span>
                            </div>
                            <div>
                                <span class="text-base">Streamline workforce management, boost department
                                    efficiency.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Cost Reduction and Compliance:</span>
                            </div>
                            <div>
                                <span class="text-base">Decrease overtime costs, ensure scheduling rule
                                    adherence.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Employee Engagement:</span>
                            </div>
                            <div>
                                <span class="text-base">Enable staff to respond to shifts via smartphone app,
                                    allowing
                                    sign-ups and shift swaps for better control over working hours.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>

<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Analysis of Shift Time and Costs.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Excellence-driven digital analysis of time and
                        cost.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Risk Mitigation:</span>
                            </div>
                            <div>
                                <span class="text-base">Minimize overstaffing, understaffing, and subpar
                                    performance.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Optimal Scheduling:</span>
                            </div>
                            <div>
                                <span class="text-base">Build, fill, and manage best-fit schedules.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Financial Metrics:</span>
                            </div>
                            <div>
                                <span class="text-base">Provide time and cost analysis for measurable
                                    results.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Operational Optimization:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Consider options, identify impacts, predict outcomes, and make informed decisions
                                    for
                                    improved operations.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <app-client-page></app-client-page>
</div>
<div>
    <app-newspaper></app-newspaper>
</div>