<div class="col-12 p-0 surface-200">
    <div class="pt-8 text-center">
        <div>
            <h1 class="text-4xl font-semibold mb-2">
                TIME COST ANALYSIS
            </h1>
        </div>
        <div class="lg:col-6 col-12 m-auto">
            <span class="text-base font-medium text-600">
                Automate payroll reporting by calculating employee work hours, minimizing billing errors, and
                eliminating manual processing inefficiencies.
            </span>
        </div>
    </div>
    <div class="text-center">
        <img src="../../../assets/about-us/about-zapiex.png" alt="" class="w-11 md:w-7 lg:w-17">
    </div>
</div>

<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/scheduling/pic.png" class="w-11" />
        </div>
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Management of Time Expenses.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Streamlined employee scheduling management.
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Enhance Employee Productivity:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Enable efficient work with optimal resources.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Automated Wage Management:</span>
                            </div>
                            <div>
                                <span class="text-base">Advanced feature for cost savings.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Instant Overtime Alerts:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Receive immediate notifications for overtime requests and unapproved hours.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Work-Life Balance and Cost Reduction:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Promote a healthy work environment while reducing expenses.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Forgotten Clock Outs Reminders:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Set notifications for missed clock outs.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<div class="flex md:flex-row flex-column-reverse container p-0 sidebar-img">
    <div class="col-11 flex flex-wrap md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Workforce Prediction.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Always stay prepared
                    </span>
                </div>
            </div>
            <div class="flex col-11 p-0">
                <div class="col-11 p-0">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Optimize Workforce Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Find a more efficient approach to handle your staff.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Ensure Shift Accuracy: </span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Guarantee proper scheduling for your team.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Track Time and Attendance:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Monitor and predict labor requirements effectively.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamline Shift Reporting:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Simplify reporting processes, eliminate potential delays.
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">User-Friendly Integration:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Easily use and integrate the feature with laptops and smartphones.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center">
            <img src="../../../assets/staff-scheduling-picture/staff-scheduling.png" class="w-11" />
        </div>
    </div>
</div>


<div class="col-12 flex md:flex-row flex-column container p-0 bg-white">
    <div class="col-11 flex flex-wrap-reverse md:flex-wrap m-auto p-0">
        <div class="py-6 col-12 md:col-6 lg:pl-7">
            <div class="m-auto lg:text-left text-center">
                <div>
                    <h1 class="text-4xl font-semibold mb-2">
                        Income versus expenditure.
                    </h1>
                </div>
                <div>
                    <span class="text-base font-medium text-purple-700">
                        Struggling to monitor your profits or earnings? Our system provides the solution!
                    </span>
                </div>
            </div>
            <div class="flex">
                <div class="col-11">
                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Comprehensive Expense and Revenue Management:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Zepiex system tracks monthly expenses and revenue.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Clear Comparison Chart:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Visualize and compare revenue across months.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Identify Profitable Months:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Determine which months were more beneficial for the company.
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Ponts -->
                    <div class="flex mt-3">
                        <!-- Icon -->
                        <div>
                            <img src="../../../assets/scheduling/icon.png" alt="">
                        </div>
                        <!-- Text -->
                        <div class="m-auto text-center w-full text-left pl-3">
                            <div>
                                <span class="text-xl font-medium">Streamlined Annual Profit Calculation:</span>
                            </div>
                            <div>
                                <span class="text-base">
                                    Utilize data to calculate annual profits easily.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar image  -->
        <div class="col-12 py-6 lg:py-0 md:col-6 p-0 flex align-items-center justify-content-center">
            <img src="../../../assets/scheduling/plyrole.png" class="w-11" />
        </div>
    </div>
</div>
<div>
    <app-client-page></app-client-page>
</div>
<div>
    <app-newspaper></app-newspaper>
</div>