<div class="col-12 p-0 justify-content-center surface-200">
    <div>
        <img src="../../../assets/faq/header.png" alt="" width="100%">
    </div>
    <div class="lg:col-10 col-11 m-auto">
        <div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is Zepiex?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <span>
                        ZEPIEX is a comprehensive security service management software that offers fast, efficient, and
                        all-in-one solutions. With its intuitive interface, ZEPIEX empowers security companies with
                        real-time security data to effectively manage their guards and ensure top-notch security
                        operations. This mobile web-based application aims to enhance team communication, provide
                        instant incident reports, and greatly improve the performance of your security guards.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 2  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            If I decide to cancel my subscription, what is the process? Is there a contractual agreement
                            in place?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>At ZEPIEX, we prioritize relationships built on mutual trust and respect. That's why we
                        refrain from imposing contracts and provide the freedom to cancel subscriptions anytime. Our
                        monthly-based billing allows clients to terminate their subscription if they are not satisfied
                        with the results.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 3  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is the duration of the free trial?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        Zepiex offers a 14-day free trial period for Novagems, followed by the option to purchase a
                        monthly full-service subscription. During the trial, you can assess the software's efficiency
                        and experience its immediate advantages.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 4  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Is free technical support provided to teams, including guards?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        Zepiex's Commitment to Round-the-Clock Support:<br>
                        1. Availability Around the Clock: We are dedicated to being there for you whenever you need
                        assistance.<br>
                        2. 24/7 Customer Support: Our customer support service operates continuously to address your
                        concerns.<br>
                        3. Multiple Contact Options: Connect with us via live chat or email at info@zepiex.com for
                        technical support or any queries.<br>
                        4. Responsive and Reliable: Count on us to provide prompt and dependable assistance, ensuring
                        your
                        needs are met.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 5  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Are discounts available?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        At ZEPIEX, we provide volume discounts and special offers for annual payments. To inquire about
                        discounts available for your volume orders or annual payment, please reach out to us via email
                        at info@zepiex.com. Alternatively, you can engage in a live chat with our team using the ZEPIEX
                        platform/website.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 7  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Is it possible to modify the reports prior to sending them to the client?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        The generated reports from our software are fully customizable, allowing you to make desired
                        edits before sharing them with your clients.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 8  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Do the guard devices require an internet connection while using the service?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        For optimal results, it is advisable to ensure that the guard devices remain connected to the
                        internet when using the Zepiex service.
                    </span>
                </mat-expansion-panel>

                <!-- quesstion 9  -->

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Is the software compatible with both smartphones and laptops?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <span>
                        ZEPIEX software is fully compatible with both smartphones and laptops, allowing you to access it
                        seamlessly on various operating systems
                    </span>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

</div>
<div>
    <app-social-page></app-social-page>
</div>